<center>
<h1>Racing Log</h1></center>
<br>
<div>
<form method="POST" action="">
<table>
	<tr>
		<td><fieldset><label><b>Date:</b></label><input type='text' name='date' value=''placeholder="mm/dd/yyyy">
		<label><b>Distance:</b></label><input type='text' name='distance' value='' placeholder="distance"></fieldset></td>
	</tr>
	<tr>
		<td><fieldset><label><b>Time:</b></label><input type='text' name='time' placeholder="time" value=''></fieldset></td>
	</tr>
	<tr>
		<td><fieldset><label><b>Comments:</b></label><input type='text' name='comments' placeholder="comments" value=''>
		<label><b>Location:</b></label><input type='text' name='location' value='' placeholder="location"></fieldset></td>
	</tr>
	<tr>		
	<td><fieldset><input type='submit' value='Post'></fieldset></td></tr>
	</table>
</form>
</div><br><br>