<nav class="navbar fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Log My Runz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Running Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/log">View Logs</a></li>
            <li><a href="/createLog">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Racing Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/race">View Logs</a></li>
            <li><a href="/createRace">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Meal Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/food">View Logs</a></li>
            <li><a href="/createFood">Create Log</a></li>
          </ul>
        </li>
        <li><a href="/calCount">Calorie Calculator</a></li>
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <center>
<h2><u><b>Log Your Last Meal</b></u></h2>
<hr>
<div>
<form method="POST" action="" name="create">
<table width ="60%">
<tr>
  <td>
      <fieldset>
      <label><b>Did you exercise today?</b></label><br>
      <table width= "50%">
      <tr><td><input type='radio' name='exercise' value='yes' required><label>&nbsp;Yes</label></td>
      <td><input type='radio' name='exercise' value='no'><label>&nbsp;No</label></td>
      </tr>
      </table>
      </fieldset>
</tr>
<tr><td><br></td></tr>
<tr>
    <td><fieldset><label><b>Breakfast:&nbsp;</b></label><textarea cols="40" type='text' name='breakfast' value=''placeholder="breakfast" class="form-control"></textarea></td>
    <td><label><b>Lunch:&nbsp;</b></label><textarea cols="40" type='text' name='lunch' value='' placeholder="lunch" class="form-control" ></textarea></fieldset></td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <td><fieldset><label><b>Dinner:&nbsp;</b></label><textarea cols="40" type='text' name='dinner' value=''placeholder="dinner" class="form-control"></textarea></td>
    <td><label><b>Snack:&nbsp;</b></label><textarea cols="40" type='text' name='snack' placeholder="snack" value='' class="form-control"></textarea></fieldset></td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <td><fieldset><label><b>Date:&nbsp;</b></label><textarea cols="40" id="date" type='text' name='date' value='' placeholder="mm/dd/yyyy" class="form-control" required></textarea></td>
    <td><label><b>Other:&nbsp;</b></label><textarea cols="40" type='text' name='other' placeholder="other" value='' class="form-control"></textarea></fieldset></td>
  </tr>
  <tr><td><br><label class="col-md-12" id="dateError"></label><br></td></tr>
  <tr>    
  <td>
  <fieldset><button type="submit" id="submitBtn" value="post" class="btn btn-default">Post</button></fieldset></td></tr>
  </table>
</form>
</div><hr><br><br></center></div>
<script>

document.addEventListener("DOMContentLoaded", main);
  function main() {
    const submit = document.getElementById('submitBtn');
    submit.addEventListener('click', function (evt) {
      const reg = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
      const date = document.getElementById('date')
      const M = date.value.match(reg);
      if(!M){
      evt.preventDefault();
        const s = document.getElementById('dateError')
        s.innerHTML = "Invalid date format : mm/dd/yyyy";
        s.style.color = "red";
      }
    });
}
</script>