<nav class="navbar fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Log My Runz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Running Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/log">View Logs</a></li>
            <li><a href="/createLog">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Racing Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/race">View Logs</a></li>
            <li><a href="/createRace">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Meal Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/food">View Logs</a></li>
            <li><a href="/createFood">Create Log</a></li>
          </ul>
        </li>
        <li><a href="/calCount">Calorie Calculator</a></li>
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
<center>
<h2><u><b>Log Your Last Race</u></b></h2>
<hr>
<div>
<form method="POST" action="" name="create">
<table width ="60%">
  <tr>
    <td><fieldset><label><b>Date: <span class="text-danger">*</span>&nbsp;</b></label><textarea cols="40" type='text' id="date" name='date' value=''placeholder="mm/dd/yyyy" class="form-control" required></textarea></td>
    
    <td><label><b>Meet: <span class="text-danger">*</span>&nbsp;</b></label><textarea cols="40" type='text' name='meet' value='' placeholder="meet"required class="form-control"></textarea></fieldset></td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <td><fieldset><label><b>Event: <span class="text-danger">*</span>&nbsp;</b></label><textarea cols="40" type='text' name='events' placeholder="events" value='' class="form-control" required></textarea></td>
    
    <td><label><b>Location: <span class="text-danger">*</span>&nbsp;</b></label><textarea cols="40" type='text' name='location' placeholder="location" value=''required class="form-control"></textarea></fieldset></td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <td><fieldset><label><b>Time: <span class="text-danger">*</span>&nbsp;</b></label><textarea cols="40" type='text' name='time' value='' placeholder="time" class="form-control" required></textarea></td>
    
    <td><label><b>Notes:&nbsp;</b></label><textarea cols="40" type='text' name='notes' value='' placeholder="notes" class="form-control"></textarea></fieldset></td>
  </tr>
  <tr><td><br></td></tr>
   <tr>
    <td><fieldset><label><b>Pace:&nbsp;</b></label><textarea cols="40" type='text' name='pace' value='' placeholder="pace" class="form-control"></textarea></fieldset></td>
  </tr>
  <tr><td><br><label class="col-md-12" id="dateError"></label><br></td></tr>
  <tr>    
  <td>
  <fieldset><button type="submit" id="submitBtn" value="post" class="btn btn-default">Post</button></fieldset></td></tr>
  </table>
</form>
</div><hr><br><br></center></div>