<nav class="navbar fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Log My Runz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Running Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/log">View Logs</a></li>
            <li><a href="/createLog">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Racing Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/race">View Logs</a></li>
            <li><a href="/createRace">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Meal Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/food">View Logs</a></li>
            <li><a href="/createFood">Create Log</a></li>
          </ul>
        </li>
        <li><a href="/calCount">Calorie Calculator</a></li>
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <center>
<h2><u><b>Log Your Last Run</b></u></h2>
<hr>
<div>
<form method="POST" action="" name="create">
<table width ="60%" class="create-table">
	<tr>
		<td>
			<fieldset>
				<label><b>Type:</b></label><br>
				<table width= "100%">
					<tr><td><input type='radio' name='type' value='Daily Run'required><label>&nbsp;Daily Run&nbsp;</label></td>
					<td><input type='radio' name='type' value='Workout'><label>&nbsp;Workout&nbsp;</label></td>
					<td><input type='radio' name='type' value='Tempo Run'><label>&nbsp;Tempo Run&nbsp;</label></td>
					<td><input type='radio' name='type' value='Fartlek'><label>&nbsp;Fartlek&nbsp;</label></td></tr>
					<tr><td><input type='radio' name='type' value='Long Run'><label>&nbsp;Long Run&nbsp;</label></td>
					<td><input type='radio' name='type' value='Cross Train'><label>&nbsp;Cross Train&nbsp;</label></td>
					<td><input type='radio' name='type' value='Other'><label>&nbsp;Other&nbsp;</label></td></tr>
				</table>
			</fieldset>
	   </td>
	</tr>
	<tr><td><br></td></tr>
	<tr>
		<td><fieldset><label><b>Distance:&nbsp;</b></label><textarea cols="40" type='text' name='distance' value='' placeholder="distance"required class="form-control"></textarea></td>
		<div id="dateError"></div>
		<td><label><b>Date:&nbsp;</b></label><textarea id="date" cols="40" type='text' name='date' placeholder="mm/dd/yyyy" value=''required class="form-control"></textarea></fieldset></td>
	</tr>
	<tr><td><br></td></tr>
	<tr>
		<td><fieldset><label><b>Pace:&nbsp;</b></label><textarea cols="40" type='text' name='pace' value=''placeholder="pace"required class="form-control"></textarea></fieldset></td>
		
		<td><label><b>Notes:&nbsp;</b></label><textarea cols="40" type='text' name='notes' placeholder="notes" value=''class="form-control"></textarea></fieldset</td>
	</tr>
	<tr><td><br></td></tr>
	<tr>
		<td><fieldset><label><b>Splits:&nbsp;</b></label><textarea cols="40" type='text' name='splits' value='' placeholder="splits" class="form-control"></textarea></td>
		
		<td><label><b>Location:&nbsp;</b></label><textarea cols="40" type='text' name='location' placeholder="location" value=''required class="form-control"></textarea></fieldset></td>
	</tr>
  <tr><td><br><label class="col-md-12" id="dateError"></label><br></td></tr>
  <tr>    
  <td>
  <fieldset><button type="submit" id="submitBtn" value="post" class="btn btn-default">Post</button></fieldset></td></tr>
  </table>
</form>
</div><hr><br><br></center></div>