<center>
	<h1>Welcome!</h1>
	<a href='/log'>My Running Log</a></div>
	<a href='/race'>My Racing Log</a></div>
	<a href='/createRun'>Log New Run</a></div>
	<a href='/createRace'>Log New Race</a></div>

</center>