<nav class="navbar fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Log My Runz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
<center><h1>Log My Runz</h1></center>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>Register</h2><hr>
                            </div>
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12">
                                <form id="signup" action="/signup" method="post">
                                    <div class="form-group">
                                        <label for="username">Username <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm_password">Confirm Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                                    </div>
                                    <div class="col-md-12" id="signup-err"></div>
                                    <div class="form-group text-right">
                                     <input type="submit" id="signupBtn" class="btn btn-primary btn-sm" value="Register"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        document.addEventListener("DOMContentLoaded", main);
        function main() {
            const signup = document.getElementById('signupBtn');
            signup.addEventListener('click', function (evt) {
                if((document.getElementsByName('password')[0].value !== document.getElementsByName('confirm_password')[0].value)) {
                    evt.preventDefault();
                    const s = document.getElementById('signup-err')
                    s.innerHTML = "<center>Passwords don't match </center>";
                    s.style.color = "red";
                }
            });
        }
</script>