body {
 padding: 45px 25px;
 font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 background: #99D3Df;
 color: #192231;
}

a {
  color: #E9E9E9;
}

footer{
	color: #CDCDCD;
	background: #192231;
	position:fixed;
	right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

nav{
	color: #88BBD6;
	background: #CDCDCD;
}

table{

/*	 display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #192231;*/
}


/*

#99D3Df
#88BBD6
#CDCDCD
#E9E9E9

#494E6B
#98878F
#985E6D
#192231

#A9B7C0
#C7D8C6
#EFD9C1
#CCCBC6
*/